Package: kvas
Version: 1.1.9_release-3-pre1
Depends: libc, libssp, librt, libpthread, libpcre, jq, curl, knot-dig, nano-full, cron, bind-dig, dnsmasq-full, ipset, dnscrypt-proxy2, iptables, shadowsocks-libev-ss-redir, shadowsocks-libev-config
Source: /home/zeleza/kvas
SourceName: kvas
Section: utils
SourceDateEpoch: 1747878872
URL: no
Architecture: all
Installed-Size: 1409757
Description:  Данный пакет позволяет осуществлять контроль и поддерживать в актуальном состоянии
 защищенный список хостов или "Белый список". При обращении к любому хосту из
 этого списка, весь трафик будет идти через любое VPN или через Shadowsocks соединение,
 заранее настроенное на роутере.
